<div class="innercontent clearfix">
		<div class="margin">
		    <h1>Savings Products</h1>
            <p>
            	BCCU provides an array of savings services to meet
                your needs. Make your choice of one, two or all the services
                for a safe, convenient, and profitable way to handle your financial
                affairs.
        	</p>
            <p class="prodhead"> <a name="shareaccounts" id="shareaccounts"></a>
            	Share Accounts (Savings)</p>
            <p>This is the primary account for all of our members.
                Our share accounts are comparable to what some may call a passbook
                account. A minimum deposit of just $5.00 is all that is needed
                to open your credit union membership.</p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Apply for a Membership Now", new_memberapp_path, :rel => "external" %> </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="sharedraft" id="sharedraft"></a>
            	Share Draft Accounts (Checking)</p>
            <p>&nbsp;</p>
            <%= image_tag "atm.gif", :class =>"fleft", :alt => "" %>
            <p>
                As the primary financial
                institution for many of our members, our Classic
                Share Draft Account is a popular type of account.
                This account has NO MONTHLY SERVICE CHARGE and
                requires NO MINIMUM BALANCE. Qualified members
                may receive our MasterMoney&trade; Debit Card
                or our ATM card to use. We also offer other checking
                account choices including a Classic Gold Share
                Draft account for our members age 50 and over.
			</p>            
            <p>
            	With the advantage of direct deposit of your payroll
                check, your social security payment, or your retirement check,
                you no longer have to wait in line to make a deposit and get
                cash back. Let your money beat you to your account, earn more
                dividends, and get cash through all our convenient services.
            </p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information &amp; an Application", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p class="prodhead"><a name="mm" id="mm"></a>Money Market Accounts</p>
            <p>
            	Do you want a higher return on your account? Then
                our Money Market Account is for you. The minimum deposit to open
                and maintain the account is of $2,500.00. There is no monthly
                service charge. Market based dividends are paid on the account.
                Dividends are calculated daily and credited to your account monthly.
            </p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information &amp; an Application", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="christmas" id="christmas"></a>
            	Christmas Club Accounts, Vacations Accounts, Escrow Accounts</p>
            <p>&nbsp;</p>
            <table>
                <tr>
                    <td>Still needing more
                            savings ideas. Try one of these accounts to help
                            you save money</td>
                    <td><%= image_tag "vacation.gif", :alt =>"" %></td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information &amp; an Application", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p class="prodhead"><a name="ira" id="ira"></a>IRA Savings Accounts</p>
            <p>
            	It's never too early or too late to start saving
                for retirement. We offer Traditional, Roth and Coverdale Education
                IRAs, as well as IRA Share Certificates. Check with our member
                service department for details.
            </p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information &amp; an Application", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="cd" id="cd"></a>
            	Share Certificates</p>
            <p>We offer a wide variety of share certificates of
                deposit to meet your investment needs. The minimum deposit to
                open and maintain a regular share certificate is $500.00 and
                we now offer a Stow Away Certificate with a minimum balance of
                just $200.00. We offer many terms with highly competitive rates.</p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "Request More Information &amp; an Application", new_rfi_path %></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Current Savings Rates", rates_path %>
                        </td>
                    <td class="helm">&nbsp;</td>
                    <td><%= link_to "See Rate &amp; Fee Disclosure", disclosure_truth_path %></td>
                </tr>
            </table>
            <p>&nbsp;</p>
        </div>