<div class="innercontent clearfix">
		<div class="margin">
		    <h1>Loan Products</h1>
            <p>The credit union offers a large variety of loan products.
                All our loans are simple interest and there is never a prepayment
                penalty on any credit union loan.</p>
            <p class="prodhead"> <a name="mortgage" id="mortgage"></a>
            	First Mortgage Loans:</p>
            <p>We offer VA, FHA, KHC, CONVENTIONAL, and Sub-Prime
                First Mortgage Loans Programs. We also offer several conventional
                Second Mortgage Loan Programs to meet your financial needs. Our
                rates and terms are highly competitive with closing costs held
                to a minimum.</p>
            <p class="products"><%= link_to "Request More Information", new_rfi_path %></p>
            <p class="products"><%= link_to "Apply for a Loan Now", new_loanapp_path, :rel => "external" %></p>
            <p>&nbsp;</p>
            <p class="prodhead"> <a name="home" id="home"></a> &nbsp;&nbsp;  Home
                Equity Loans:</p>
            <p>We offer Home Equity Line-of-Credit Loans for just
                about any purpose you could want. Our closing costs are very
                minimal and may be included in your loan or paid at closing. 
                <img src="images/window.gif" alt="" class="fright" /></p>
            <p class="products"><%= link_to "Apply for a Loan Now", new_loanapp_path, :rel => "external" %></p>
            <p class="products"><%= link_to "Request More Information", new_rfi_path %></p>
            <p class="products"><%= link_to "Calculate an estimated payment", loancalc_path %></p>
            <p class="products"><%= link_to "See Current Loan Rates", rates_loan_path %></p>
            <p>&nbsp;</p>
            <a name="automobile" id="automobile"></a><h2>Automobile Loans:</h2>
            <p><%= image_tag "car.gif", :class => "fleft", :alt => "car" %>
            	We offer auto loans for new and used autos. Terms are available
                up to 72 months.</p>
            <p>Up to 100% financing is available to qualified borrowers.
                Want to check out the value of an auto? Take a look at 
                <%= link_to "http://www.nadaguides.com", "http://www.nadaguides.com/", :rel => "external" %>.</p>
            <p>Call one of our loan officers to see about getting
                Preapproved for our low cost loan before you shop for a car.</p>
            <p>&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Apply for a Loan Now", new_loanapp_path, :rel => "external" %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Request More Information", new_rfi_path %></p></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "See Current Loan Rates", rates_loan_path %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Calculate an estimated payment", loancalc_path %></p></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="boat" id="boat"></a>
            	Boat Loans, Motorcycle Loans, RV Loans:<%= image_tag "motorcycle.gif", :class =>"fright", :alt => "motorcycle" %></p>
            <p>Is this what you are looking for?
                We can help you with vehicle loans for motorcycles,
                RV's, or boats/trailers. We have competitive
                rates and terms. Check out your options with
                us before shopping anywhere else.</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Apply for a Loan Now", new_loanapp_path, :rel => "external" %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Request More Information", new_rfi_path %></p></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "See Current Loan Rates", rates_loan_path %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Calculate an estimated payment", loancalc_path %></p></td>
                </tr>
            </table>
            <p class="prodhead"><a name="signature" id="signature"></a>
                Signature Loans, Revolving Credit Loans:</p>
        	<p>
            	For those purchases you don't want on your credit card or for
                those of you who don't like using credit cards, then BCU's
                signature loan programs are for you. The only collateral
                you need is your signature. Our loan department can give
                you more information on either of these loans.
            </p>
        	<table class="prodserv">
        	    <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Apply for a Loan Now", new_loanapp_path, :rel => "external" %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Request More Information", new_rfi_path %></p></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "See Current Loan Rates", rates_loan_path %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Calculate an estimated payment", loancalc_path %></p></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="insurance" id="insurance"></a>
            	Loan Protection Insurance:</p>
            <p>
                Both credit life and credit disability insurance is offered on
                all our loans. Why worry that you won't be able to meet all
                your financial responsibilities in case you are sick or injured?
                With our low cost credit disability it will pay on your credit
                union loans while you are off from work. Our credit life
                insurance will make life easier for your loved ones in the
                event of your death. Don't leave them behind with your bills,
                sign up for credit life on all your credit union loans.
            </p>
            <p>&nbsp;</p>
        </div>