<div class="innercontent clearfix">
		<div class="margin">
		    <h1>Other Products</h1>
            <p class="prodhead"><a name="tickets" id="tickets"></a>
            	Discount Tickets to Amusement Parks:</p>
            <p>We offer Discount Tickets to several parks nationwide.
                Choose from the following:</p>
            <p>&nbsp;</p>
            <table>
                <tr>
                    <td>
                        <ul>
                            <li>King's Island</li>
                            <li>KY Kingdom</li>
                            <li>Holiday World</li>
                            <li>Louisville Zoo</li>
                            <li>Cincinnati Zoo</li>
                            <li>Newport Aquarium</li>
                        </ul>
                    </td>
                    <td><%= image_tag "park1.gif", :alt => "amusement park" %></td>
                </tr>
            </table>
            <p class="prodhead"> <a name="audio" id="audio"></a>
            	Audio Teller Access</p>
            <p>With our Audio Teller System you can access your
                account 24 hours a day, seven days a week from any touch tone
                phone. You can make balance inquires, transfer money from one
                account to another, make loan payments, make loan advances, request
                a check mailed to you, and check on your account history all
                with just the touch of a button.</p>
            <p class="prodhead"> <a name="alliance" id="alliance"></a>
            	Alliance One Member</p>
            <p>We are proud to be in the Alliance One Network. What
                is the Alliance One Network? It is a group of financial institutions
                working together to save you money when using your ATM or MasterMoney&trade; Card.
                Alliance One allows you to access ATM machines in Kentucky, Indiana,
                West Virginia, and Ohio without any surcharge being applied.
                Look for the Alliance One logo on ATM machines.</p>
            <p class="prodhead"> <a name="plans" id="plans"></a>
            	Insurance Plans</p>
            <p>Insurance plans can be purchased through our credit
                union to benefit you in the coming years. We offer policies for
                Accidental Death &amp;  Dismemberment, Term Life, and Cancer.</p>
            <p class="prodhead"> <a name="lifehelp" id="lifehelp"></a>
            	Lifehelp Insurance</p>
            <p><strong> 50-Plus Group Term Life Insurance &mdash; for
                members ages 50 to 74</strong><br />
                This coverage makes it easy for members age 50 to 74 to arrange
                to leave an insurance benefit of $10,000 to $100,000 to family
                members or others.</p>
            <ul>
                <li>Cash benefit helps relieve your loved ones
                    of the burden of paying for your final medical bills,
                    credit card or other loan balances, funeral costs and
                    other end-of-life expenses</li>
                <li>Apply without the inconvenience of a medical
                    exam typically required; just answer the few health questions
                    on your application</li>
                <li>Lifetime protection to age 95</li>
                <li>Economical group rates for our members</li>
            </ul>
            <p>This coverage is underwritten by The United States
                Life Insurance Company in the City of New York, 70 Pine Street,
                New York, New York.</p>
            <p><%= link_to "CLICK HERE", "http://www.gotolifehelp.com/viewproducts.aspx?cu=1045", :rel => "external" %>
            	for costs, an application you can print out and
                complete at home, and more information, including eligibility,
                features, limitations, exclusions, etc.</p>
            <p>&nbsp;</p>
            <p><strong>Young Family Group Term Life Insurance - for members ages 18-49</strong></p>
            <p>This coverage makes it easy for members age 18 to 49 to better
                protect their loved ones with up to $100,000 of life insurance
                coverage, to help make sure money would be available to replace
                income and provide for everyday needs, should your family lose
                you.</p>
            <ul>
                <li>Cash benefit helps protect your loved ones by replacing income, so your children would be
properly cared for, with money in hand to keep up with the mortgage or rent, credit cards
and other bills, or for any of the many other expenses your loved ones would face without
you.</li>
                <li>Easy application – no medical exam, and just a few medical questions</li>
                <li>Renewable to age 75</li>
                <li>Enjoy affordable group rates for our members</li>
            </ul>
            <p>This coverage is underwritten by New York Life Insurance Company,
                51 Madison Avenue, New York, New York.</p>
            <p><%= link_to "CLICK HERE", "http://www.gotolifehelp.com/viewproducts.aspx?cu=1045", :rel => "external" %> for
                costs, an application you can print out and complete at home,
                and more information, including eligibility, features, limitations,
                exclusions, etc.</p>
            <p>Or call our partner in helping you better protect
                your family&rsquo;s financial future,<br />
                LifeHelp Insurance Administrative Services<br />
                Toll-free 1-800-345-4543<br />
                7 a.m. to 7 p.m. CST</p>
            <p class="prodhead"> <a name="other" id="other"></a>
            	Other Services</p>
            <p>&nbsp; </p>
            <table>
                <tr>
                    <td><ul>
                        <li>Payroll Deductions</li>
                        <li>Money Orders</li>
                        <li>Wire Transfers</li>
                        <li>Direct Deposit</li>
                        <li>Traveler's Checks</li>
                        <li>Certified Checks</li>
                        <li>MasterMoney&trade; Debit Cards</li>
                        <li>Notary Public Services</li>
                        <li>Preloadable VISA Gift Cards</li>
                    </ul></td>
                    <td><%= image_tag "checkbook.gif", :alt => "" %></td>
                </tr>
            </table>
            <p >&nbsp;</p>
            <table class="prodserv">
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "Request More Information &amp; an Application", new_rfi_path %></p></td>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "See Current Savings Rates", rates_path %>
                    	See Current Savings Rates</a></p></td>
                </tr>
                <tr>
                    <td class="helm">&nbsp;</td>
                    <td><p><%= link_to "See Rate and Fee Disclosure", disclosure_truth_path %></p></td>
                </tr>
            </table>
        </div>