<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Current Rates</h3>
          BCU offers the following competitive rates to its members
          <blockquote>
            <p class="prodhead"><%= link_to "Share Rates", :anchor => "sharerates" %></p>
            <p class="prodhead"><%= link_to "Share Certificate Rates", :anchor => "sharecertrates" %></p>
            <p class="prodhead"><%= link_to "Loan Rates", rates_loan_path %></p>
          </blockquote>
          <p>See <%= link_to "Rate &amp; Fee Schedule Disclosure", disclosure_truth_path %> for important information about BCU dividend rates.</p>
          <hr />
           <a name="sharerates"></a>
			<table class="rates">
              <tr>
                <th colspan="4">Share Rates</th>
              </tr>
              <tr>
                <td class="bold">Description</td>
                <td class="bold">Minimum Balance To Earn Dividend</td>
                <td class="bold">Dividend Rate</td>
                <td class="bold">Annual Percentage Yield</td>
              </tr>
              <tr>
                <td class="left">Regular Share Savings</td>
                <td>$100</td>
                <td>.50%</td>
                <td class="bold">.50%</td>
              </tr>
              <tr>
                <td class="left">Classic Gold Share Draft</td>
                <td>$1,000</td>
                <td>0.00%</td>
                <td class="bold">0.00%</td>
              </tr>
              <tr>
                <td class="left">Easy Living Share Draft</td>
                <td>$1,000</td>
                <td>0.00%</td>
                <td class="bold">0.00%</td>
              </tr>
              <tr>
                <td class="left">Club Accounts</td>
                <td>$100</td>
                <td>0.50%</td>
                <td class="bold">0.50%</td>
              </tr>
              <tr>
                <td class="left">Individual Retirement Account</td>
                <td>$100</td>
                <td>0.74%</td>
                <td class="bold">0.74%</td>
              </tr>
              <tr>
                <td class="left">Money Market Accounts</td>
                <td>$2,500-$4,999.99<br />
                  $5,000-$9,999.99<br />
                $10,000 +</td>
                <td>0.75%<br />
                  1.00%<br />
                1.24%</td>
                <td><strong>0.75%<br />
                1.00%<br />
				1.25%</strong></td>
              </tr>
              <tr>
                <td colspan="4"><span class="smallprint">*Dividend Rates Paid 06/30/2009</span></td>
              </tr>
          </table>
          
          <br />
          See <%= link_to "Rate &amp; Fee Schedule Disclosure", disclosure_truth_path %> for important information about dividends.
          <a name="sharecertrates"></a>
          <br />
          <br />
          <table class="rates">
              <tr>
                <th colspan="4">Share and IRA Certificates</th>
              </tr>
              <tr>
                <td class="bold">Term</td>
                <td class="bold">Minimum Balance</td>
                <td class="bold">Dividend Rate</td>
                <td class="bold">Annual Percentage Yield</td>
              </tr>
              <tr>
                <td class="left">6 Month</td>
                <td>$500</td>
                <td>1.19%</td>
                <td><strong>1.20%</strong></td>
              </tr>
              <tr>
                <td class="left">12 Month</td>
                <td>$500</td>
                <td>1.39%</td>
                <td><strong> 1.40%</strong></td>
              </tr>
              <tr>
                <td class="left">18 Month</td>
                <td>$500</td>
                <td>1.59%</td>
                <td><strong> 1.60%</strong></td>
              </tr>
              <tr>
                <td class="left">24 Month</td>
                <td>$500</td>
                <td>1.89%</td>
                <td><strong> 1.90%</strong></td>
              </tr>
              <tr>
                <td class="left">36 Month</td>
                <td>$500</td>
                <td>2.23%</td>
                <td><strong> 2.25%</strong></td>
              </tr>
              <tr>
                <td class="left">48 Month</td>
                <td>$500</td>
                <td>2.57%</td>
                <td><strong>2.59%</strong></td>
              </tr>
              <tr>
                <td class="left">60 Month</td>
                <td>$500</td>
                <td>2.72%</td>
                <td><strong> 2.75%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 12 Month</td>
                <td class="blue">$500</td>
                <td>1.39%</td>
                <td><strong> 1.40%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 18 Month</td>
                <td class="blue">$500</td>
                <td>1.59%</td>
                <td><strong> 1.60%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 24 Month</td>
                <td class="blue">$500</td>
                <td>1.89%</td>
                <td><strong> 1.90%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 36 Month</td>
                <td class="blue">$500</td>
                <td>2.23%</td>
                <td><strong> 2.25%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 48 Month</td>
                <td class="blue">$500</td>
                <td>2.57%</td>
                <td><strong>2.59%</strong></td>
              </tr>
              <tr>
                <td class="blueleft">IRA 60 Month</td>
                <td class="blue">$500</td>
                <td>2.72%</td>
                <td><strong> 2.75%</strong></td>
              </tr>
              <tr>
                <td colspan="4"><span class="smallprint">*Rates Shown are effective 05/20/2010</span></td>
              </tr>
          </table>
          See <%= link_to "Rate &amp; Fee Schedule Disclosure", disclosure_truth_path %> for important information about dividends.
     </div>