<a name="top"></a>

<table width=565 border="0" bordercolor="red" cellspacing="0" cellpadding="0" bgcolor="#ffffff" height="100%">
	<tr>
	<td valign="top" width="565" height="100%">
		<table width="530" border="0" cellspacing="0" cellpadding="0" align="center" bordercolor="#0000FF">
<tr>
<td class="main">
<!-- main part starts -->

<p align="center" class="title">Informacion de Seguridad

</p><p></p>
BCCU se a preocupado por tener por seguro que este sitio de internet es seguro. 
Con nuestra infrastructura de seguridad estamos confidente que el acceso a su cuenta  es privada y segura.    
<%= link_to "Revise nuestro sitio de preguntas mas frequentes para mas informacion", hb_faqsp_path %>.

      <p><strong>Tu juegas un papel en nuestra seguridad</strong>
      		</p><p>Mientras BCCU trabaje para proteger tu seguridad financiera, tu tambien juegas un papel 
      		importante para proteger tu cuenta. Hay una serie de pasos que puedes tomar para asegurarte 
      		de que tu experiencia financiera en el Internet sea segura y privada.  
      		
      </p><p><strong>Maneras para protegerte</strong>
      	</p><p>
      		</p><ul>
        		<li>No reveles tu numero de indentificion a nadie. Tu numero esta disenado para proteger tu privacidad de informacion de tu cuenta , pero solamente trabaja si tu lo mantienes en secreto. Si piensas que tu numero ha sido comprometido, cambialo immediatamente por tu seguridad.</li>
        		<li>No te vayas de su computadora si tu estas usando nuestro sitio.</li>
        		<li>Cuando termines de usar tu informacion financiera, siempre haga click en log off antes de visitar otra pagina de internet.</li>
        		<li>Si alguien desea usar su computadora, apague su computadora y vuelvala a ensender para eliminar copias de los sitios que ha visitado y que estan estacionados en el disco duro de su computadora.</li>
        		<li>BCCU fuertemente recomienda que usted use un browser con al menos 128 bit de incripcion para conducir transacciones seguras atravez del internet. Podrias tomar informacion de  
        		<%= link_to "Netscape", "http://www.netscape.com/comprod/mirror/client_download.asp" %> o 
        		<%= link_to "Microsoft", "http://www.microsoft.com/ie/download" %> browser quer prohebe el nivel mas alto de inscripcion comercialmente disponible.</li>          
      		</ul>
      		
      		<p><strong>Seguridad de browser e inscripcion</strong>
      	</p><p>La inscripcion le ayuda a proteger su informacion la cual no puede ser intersectada por niguna terceras personas.
      	</p><p>Inscripcion es informacion regada que es mandada de un punto a otro. Una llave virtual  es requerida para descodificar esa informacion mandada. Cuando tu deseas saber alguna informacion de tu cuenta, nosotros te mandamos la informacion preguntada con otra incrispcion. Nosotros entonces descodificamos esa informacion para que tu la puedas leer.
     	</p><p>La inscripcion de BCCU es tan segura que es clasificada al Departamento de Defense de los Estados Unidos y tecnologia de exportacion de otros Paises  por ley. 

      </p><p><strong>Indentidad Digital</strong>
      	</p><p>Para verificacion de identidad digital, tenemos un servidor digital certificado que tu
      	 browser usa cada vez que entras a nuestra pagina para saber si en realidad tu entraste a BCCU.
      	</p><p><a name="hbcookies"></a> <strong>Una nota en los (cookies)</strong>
      	</p><p>Este sitio utiliza cookies para mantener una seccion ID cada vez  que entres. Este ID es 
      	verificado cada vez que mandes o recivas informacion de nuestro sitio. Esta seccion ID prohebe 
      	seguridad y privacidad  solamente respondiendo informacion que son para ti. Esta seccion de 
      	cookies no esta guardada en tu computadora, y es ejecutada cuando sales de tu browser o esta 
      	por mucho tiempo sin usar. Sin aceptar estas cookies, no podras trabajar en nuestro sitio de internet. <br />

</p><p align="center"><%= image_tag "NCUA_big.gif", :width => 80, :height => 36, :alt =>"", :border =>0 %></p>

<p align="center" class="main"><%= link_to "Back to Top", :anchor => "top" %></p>

<!-- footer notes start -->
<hr align="CENTER" width="100%" color="#336699" size=1 noshade />
<table border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom">
	<tr>
		<td valign="top">
		<font face="Times" SIZE="-3" color="#c0c0c0">Site design:</font></td>
		<td valign="top">
		<%= link_to image_tag("share1logo_sm.gif", :width => 88, :height => 27, :alt => "Share One, Inc.", :border => 0), "http://www.shareone.com", :rel => "external" %></td>
	</tr>
</table>
<!-- main part ends -->
</td>
</tr>
</table>
	<!-- ends -->
</td>
</tr>
</table>