<div class="innercontent clearfix">
  <div class="margin">
    <h3>Rate &amp; Fee Schedule<br />Truth in Savings Disclosure</h3>
    <p>Various rates, fees, charges, and limitations apply to the different type of accounts BCU offers:</p>
    <blockquote>
        <p class="prodhead"><%= link_to "Regular Share Savings", :anchor => "regsharsav" %></p>
        <p class="prodhead"><%= link_to "Classic Share Draft Accounts", :anchor => "classicshare" %></p>
        <p class="prodhead"><%= link_to "Easy Living Share Draft Accounts", :anchor => "easyliving" %></p>
        <p class="prodhead"><%= link_to "Classic Gold Share Draft Accounts", :anchor => "classicgold" %></p>
        <p class="prodhead"><%= link_to "Money Market Accounts", :anchor => "mmaccounts" %></p>
        <p class="prodhead"><%= link_to "Christmas Savings Accounts", :anchor => "christmassavings" %></p>
        <p class="prodhead"><%= link_to "Special Savings Accounts", :anchor => "specialsavings" %></p>
        <p class="prodhead"><%= link_to "IRA Savings Accounts", :anchor => "ira" %></p>
        <p class="prodhead"><%= link_to "Share Certificates, including IRA Certificates", :anchor => "certificates" %></p>
        <p class="prodhead"><%= link_to "Disclosures that apply to all accounts", :anchor => "disclosure" %></p>
        <p class="prodhead"><%= link_to "Fee Schedule", fees_path %></p>
        <p class="prodhead"><%= link_to "Courtesy Pay", :anchor => "courtesypay" %></p>
        <p class="prodhead"><%= link_to "Stow Away Certificate", :anchor => "stowaway" %></p>
        <p class="prodhead"><%= link_to "Business Share Draft Account", :anchor => "businesssharedraft" %><br /></p>
    </blockquote>
    <p>The  rates, fees, and charges applicable to your accounts with the Credit  Union are set forth below. 
        The Credit Union reserves the right to  change the terms and conditions of these accounts from time to time 
        without notice to you unless provided by law.</p>
    <blockquote>
        <p class="products"><%= link_to "Click here for Current Rates", rates_path %></p>
    </blockquote>
    <hr />
    <a name="regsharsav"></a>
    <h3>REGULAR SHARE SAVINGS</h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain an average daily balance of $100 in the account to earn dividends.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>You may make 6 transfers from your account, but only 3 may be payments by check to third parties. 
            There are no limitations governing checks withdrawn at any branch office, as well as no limitations governing 
            ATM transactions.</li>
        <li>You  may make 12 teller-initiated withdrawals per year on this account.  After 12, there is a $3.00 per withdrawal fee. 
       	 	You may utilize this  share account through home branching or audio teller without limitations.</li>
        <li>You may have an ATM card with this account.</li>
        <li>See <%= link_to "Fee Schedule", fees_path %> for ATM fees that may apply</li>
    </ul>
    <hr />
    <a name="classicshare"></a>
    <h3>CLASSIC SHARE DRAFT ACCOUNTS</h3>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $25 to open this account.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>Fees may be charged on your account.  See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>You may write unlimited share drafts on this account.</li>
        <li>Your ATM transaction limitations are outlined in the Fee Schedule.</li>
    </ul>
    <p>Other Information</p>
    <ul>
        <li>Your first box of checks (basic duplicate Credit Union checks) is free.<br />
            NOTE:  There are 150 checks in a box.</li>
        <li>You may be eligible for EZ Home Bill Pay, and/or MoneyMaster&amp;amp;trade; debit card with this account.</li>
    </ul>
    <hr />
    <a name="easyliving"></a>
    <h3>EASY LIVING SHARE DRAFT ACCOUNT</h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account monthly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $25 to open this account.</li>
        <li>You must maintain an average daily balance of $1000 in the account to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>A monthly maintenance fee of $10 will be charged to the account each month.</li>
        <li>Up to sixteen (16) free STAR&amp;amp;trade; ATM transactions per month. Each STAR&amp;amp;trade; ATM transaction thereafter will be 
        $1.00 each. Any applicable fees will be posted to your account on the last business day of that month.</li>
        <li>All PLUS/HONOR&amp;amp;trade; ATM transactions are $2.00 each. Any applicable fees will be posted to the account on 
        the last business day of that month.</li>
        <li>This account will have free traveler's checks and money orders.</li>
        <li>Other fees may be charged on your account. See Fee Schedule</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>You may write unlimited share drafts on your account each month.</li>
        <li>Your ATM transaction limitations are outlined above and in the Fee Schedule</li>
    </ul>
    <hr />
    <a name="classicgold"></a>
    <h3>CLASSIC GOLD SHARE DRAFT ACCOUNT</h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account monthly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $25 to open this account.</li>
        <li>You must maintain an average daily balance of $1000 n the account to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>This account will have unlimited free share drafts, traveler's checks, money orders, and ATM transactions.</li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>You must be at least 50 years old to open this account and must have some type of direct deposit 
            made to your account.</li>
        <li>You may write unlimited share drafts on this account.</li>
        <li>Your ATM transaction limitations are outlined in the <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <hr />
    <a name="mmaccounts"></a>
    <h3>MONEY MARKET ACCOUNT</h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account monthly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $2500.00 to open this account.</li>
        <li>You must maintain an average daily balance in the account based on the above schedule to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>There is no monthly maintenance fee charged to this account.</li>
        <li>If the transaction limitations below are exceeded, then $2.00 per transaction will be charged with a minimum 
        	charge of $10.00 in any one month.</li>
        <li>Other fees may be charged on your account.  See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>You may clear a maximum of 3 share drafts per month on your account. You may make a maximum of 3 other withdrawals 
        	per month on your account.</li>
    </ul>
    <hr />
    <a name="christmassavings"></a>
    <h3>CHRISTMAS SAVINGS</h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain an average daily balance of $100 in the account to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>A $5 fee will be assessed if the transaction limitation is exceeded.</li>
        <li>Other fees may be charged on your account.  See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>Between January 1 and September 30, if a withdrawal is made from the account then: a $5 fee will be imposed; 
        	the entire balance on the date of the request must be taken; and a new account may not be opened until the following October 1.</li>
        <li>Between October 1 and December 31, you may withdraw an amount up to the balance of the account as of September 30.</li>
    </ul>
    <hr />
    <a name="specialsavings"></a>
    <h3>SPECIAL SAVINGS, <br />including Vacation, Insurance, Escrow or Special Accounts. </h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain an average daily balance of $100 in the account to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>A $5 fee will be assessed if the transaction limitation is exceeded.</li>
        <li>Other fees may be charged on your account.  See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>For Vacation Accounts, a member may make only 3 withdrawals any calendar year. On the fourth withdrawal 
            in the calendar year then: a $5 fee will be imposed; the entire balance on the date of the request must be 
            taken; and a new account may not be opened for 12 months.</li>
        <li>For all other Special accounts, you may make 6 transfers from your account, but only 3 may be payments by 
            check to third parties. There are no limitations governing checks withdrawn at any branch office, as well as 
            no limitations governing ATM transactions.</li>
    </ul>
    <hr />
    <a name="ira"></a>
    <h3>IRA SAVINGS ACCOUNT </h3>
    <p>Rate Information</p>
    <ul>
        <li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
        <li>Beacon CCU offers Traditional, Roth and Coverdale Education IRAs</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are compounded daily and credited to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will not be paid.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain an average daily balance of $100 in the account to earn dividends.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>Other fees may be charged on your account.  See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>The transaction limitations on IRA accounts are governed by separate regulation and will be supplied to you 
       	    upon specific request for IRA information.</li>
    </ul>
    <hr />
    <a name="certificates"></a>
    <h3>CERTIFICATES.</h3>
    <p>Regular or IRA certificates shall be issued as follows:</p>
    <p>Rate Information</p>
    <ul>
        <li>IRA Certificates shall be for maturities of 6 months or longer and will earn the same rate for the like maturity 
        	listed on the Current Rate schedule.</li>
    </ul>
    <p>Compounding and Crediting</p>
    <ul>
        <li>Dividends are computed daily on the above rate scale and are credited and compounded to your account quarterly 
        	and at maturity.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will be paid based on the 
        	penalty clause below.</li>
    </ul>
    <p>Minimum Balance Requirements</p>
    <ul>
        <li>You must deposit a minimum of $500 to open this account.</li>
        <li>You must maintain the above stated minimum daily balance to maintain the account.</li>
    </ul>
    <p>Fees</p>
    <ul>
        <li>Fees may be charged on your account. See <%= link_to "Fee Schedule", fees_path %>.</li>
    </ul>
    <p>Transaction Limitations</p>
    <ul>
        <li>After the account is opened, you may not make deposits into the account until the maturity date stated on the 
        certificate.</li>
    </ul>
    <p>Early withdrawal penalties</p>
    <ul>
        <li>We may impose a penalty if you withdraw any funds other than dividends before the maturity date.</li>
        <li>If the withdrawal will lower the balance of the certificate lower than the minimum stated on the certificate, 
            then the certificate will be canceled. Any funds withdrawn before maturity will receive the dividend rate last 
            declared on Regular Share Savings from the date of issuance or renewal until the date of withdrawal.</li>
        <li>On certificates of one year or less maturity, the penalty will equal 3 months' dividends on the deposit; on 
        	certificates of greater than one year maturity, the penalty will equal 6 months' dividends on the deposit.</li>
        <li>In certain cases specified in federal regulations, penalties shall not apply, including certain IRA withdrawals 
        	as set by law.</li>
    </ul>
    <p>Renewal policies</p>
    <ul>
        <li>Your  share certificate will automatically renew at maturity. There is a 10  day grace period after the 
        	maturity date to withdraw the funds in the  account without being charged an early withdrawal penalty.</li>
    </ul>
    <hr />
    <!-- IRA SAVINGS ACCOUNT -->
    <a name="disclosure"></a>
    <h3>THE FOLLOWING DISCLOSURES APPLY TO ALL  ACCOUNTS.</h3>
    <p>Nature of dividends.</p>
    <ul>
        <li>Dividends are paid from current income and available earnings after required transfers to reserves at the 
        	end of the dividend period.</li>
        <li>The Dividend Rate and Annual Percentage Yield are the prospective rates and yields that the Credit Union 
        	anticipates paying for the applicable dividend period.</li>
    </ul>
    <p>Compounding and Crediting.</p>
    <ul>
        <li>The Dividend Period begins on the first calendar day of the period and ends on the last calendar day of the 
        	period.</li>
    </ul>
    <p>Balance Computation Method</p>
    <ul>
        <li>We use the average daily balance method to calculate dividends on your account. This method applies a periodic 
            rate to the average daily balance in the account for the period. The average daily balance is calculated by adding 
            the balance in the account for each day of the period and dividing that figure by the number of days in the period.</li>
    </ul>
    <p>Accrual of Dividends</p>
    <ul>
        <li>Dividends will begin to accrue on the business day you deposit non-cash items (i.e., checks) to your account.</li>
    </ul>
    <blockquote>
      <p class="products"><%= link_to "Share Rates", rates_path, :anchor => "sharerates" %></p>
      <p class="products"><%= link_to "Fee Schedule", fees_path %> /p>
      <p class="products"><%= link_to "Share Certificate Rates", rates_path, :anchor => "sharecertrates" %></p>
    </blockquote>
    <hr />
    <a name="courtesypay"></a>
    <h3>COURTESY PAY DISCLOSURE.</h3>
    <p>Courtesy Pay is a service that allows us to pay a share draft written  on our member's share draft account even if it 
    	causes the account to  become overdrawn.</p>
    <p>Courtesy Pay may provide certain accountholders in "good  standing" with the ability to overdraw their personal share 
       draft  account up to $500.00.</p>
    <p>If the account has been open at least 90 days and  maintained in good standing, defined as A.) making regular deposits
      sufficient to cover transactions; B.) bringing the account to a  positive balance at least once every thirty days or 
      less, and; C.)  There are not legal orders outstanding on your account, we may, at our  sole discretion, pay overdrafts 
      up to the limits mentioned above,  including our normal Non-Sufficient Funds and/or Courtesy Pay  charge(s). You will 
      only be charged a Non-Sufficient funds charge if we  do not pay the overdraft.</p>
    <p>Courtesy Pay offers additional flexibility and convenience  in managing accountholder funds and provides peace of mind 
      knowing that  share drafts may be paid up to the authorized overdraft limit.</p>
    <p>
      This non-contractual courtesy of paying overdrafts requires  no accountholder action. It is not a loan. No additional 
      agreements  need to be signed and is costs nothing unless the privilege is used-by  initiating share drafts, electronic 
      funds transfers, or other payment  or withdrawal requests for more than is on deposit in the account. If  you maintain 
      the account in good standing, and have need for this  "courtesy", we may, at our sole discretion, pay the item(s) up to 
      the  authorized limit, and we will charge the account our normal  Non-Sufficient Funds or Courtesy Pay charge for each item 
      that  overdraws the account. We will send you a notice each time an overdraft occurs.</p>
	<p>
      A member may elect to opt out or not participate in Beacon  Credit Union's Courtesy Pay program at any time by notifying us 
      in  writing. Opt out forms are available at our office. Once we receive  your written request to opt out of the Courtesy Pay
       program, we will  return share drafts unpaid if your account is overdrawn.</p>
	<p>
      If you receive direct deposit of your monthly Government or  Social Security payment into your sharedraft account and you 
      do not  want Courtesy Pay eligibility, you must advise us to stop from paying  your overdrafts with these funds.</p>
	<p>
      Courtesy Pay allows Beacon Credit Union to provide a higher  level of service to our members by helping to protect your 
      account and  reputation when an inadvertent overdraft occurs.</p>
	<p>
      If you have any question, do not hesitate to call member services at (502) 366-6022 or 1-800-363-6022.</p>
	<p>
      Effective October 15, 2003</p>
    <hr />
    <a name="stowaway"></a>
    <h3>STOW AWAY CERTIFICATES.</h3>
    <p>The term of this certificate is 12 Months.  You must deposit a minimum of $200 to open this account.  	
    	After the account is opened, you may make deposits into the account at any time.  The additional 	
        deposit must be $25.00 or more.  This will not affect the maturity date or the given annual 	
        percentage yield.  The Stow Away Certificate is subject to penalty for early withdrawal.<br />
    <br />
   </p>
   <hr />
   <a name="businesssharedraft"></a>
   <h3>BUSINESS SHARE DRAFT.</h3>
   <p>The business checking account is a classic checking account. Please  
   	  refer to the CLASSIC SHARE DRAFT ACCOUNT section for details. You must  
      maintain an average daily balance of $100 in the business savings  account.</p>
  </div>