<div class="innercontent clearfix">
                <div id="slideshow">
					<p class="centertext">
                        <%= image_tag "banner_checking.jpg", :alt => "Opt in for Overdraft Coverage" %>
                    </p>
                <h1><span class="centertext"><%= image_tag "autoloan.jpg",  :alt =>"Opt in for Overdraft Coverage" %></span></h1>
                <p>&nbsp;</p>
                </div>                  
                <div class="innerleft clearfix">
                    <div class="centertext">
                    	<p><%= image_tag "route66.jpg", :alt => "route 66" %></p>
                        <h1>Auto Warranties Now Available</h1>
                       	<p> 
                            Route 66 Warranty has a complete line of coverage designed 
                            to keep your vehicle on the road. Even the most reliable 
                            vehicle can develop a mechanical problem. That’s why so 
                            many people depend on Route 66 Warranty. No matter where 
                            you travel in the United States, we protect you against 
                            major mechanical expenses, and there is NO DEDUCTIBLE on 
                            covered parts and labor. All of our plans come with Rental 
                            Car Allowance, and 24 / 7 Emergency Roadside Assistance. 
                            Repairs can be made at any ASE Certified repair shop. All 
                           	BCCU members are eligible for this great warranty coverage.<br />
                        <br />
                            Call us today for a price quote or visit 
                            <%= link_to "https://www.route66warranty.com/asp/faqs.asp",  "https://www.route66warranty.com/asp/faqs.asp", :rel => "confirm" %> more information on this great product.
                        </p>
                       <br />
                    </div>
                </div>
               <div class="innerright clearfix">
                   <p>&nbsp;</p>
                   <p><%= image_tag "layout_2_sidemenu.gif", :alt => "" %></p>
                   <p class="centertext">
                       <%= link_to image_tag("facebook.jpg", :alt =>"facebook"), "http://www.facebook.com/home.php?#/group.php?gid=187211100685&amp;ref=ts",  :rel => "external" %>
                   </p>
                </div>
                <hr />
                <h2>Welcome to Beacon Community Credit Union!</h2>
                <p>
                    For over 50 years BCCU has been providing the products and services needed by its members for their financial  security. Savings products, fee-free checking accounts, ATM and debit cards, direct deposit, payroll deduction, home loans, equity loans, auto loans, personal loans for the added expense of new babies or education and credit cards have all been there when you needed them.
                </p>
                <p>We are now a Community Credit Union!&amp;<br /> 
                  <%= link_to "Click here", aboutus_path %> to learn more.</p>
               <div class="prefooter">
                   <%= image_tag "layout_new_1_footer.gif", :alt =>"footer", :usemap =>"#Map" %>
                   <map name="Map" id="Map"><area alt="MasterCard Secure Code" coords="352,6,487,178" href="https://securevbv.concordefs.com/concord/registration/welcome.jsp?partner=868001" rel="external" /><area alt="ATM Locations" coords="189,9,299,138" href="http://www.atmallianceone.org" "rel="external" />
                       <area shape="rect" coords="4,7,160,179" href="http://www.cuservicecenter.com/default.aspx" alt="Locate a Credit Union"  rel="external" />
                   </map>
               </div>