<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Hot Links</h3>
          <p class="links">&nbsp;</p>
          <table id="links">
              <tr>
                <td width="22" id="img">&nbsp;</td>
                <td width="162"><%= link_to "N.A.D.A.", "http://www.nadaguides.com/", :rel => "external" %></td>
                <td width="334">- Leading Source for Used Vehicle Values</td>
              </tr>            
              <tr>
                <td id="img"></td>
                <td><%= link_to image_tag("Reorder2.jpg"), "https://reorder.libertysite.com/login.asp", :rel => "external" %>
                </p></td>
                <td>- Reorder your credit union checks here</td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Carfax", "http://www.carfax.com/", :rel => "external" %></p></td>
                <td>- Vehicle History Reports</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Alliance One", "http://www.atmallianceone.org/", :rel => "external" %>
                <strong></strong></a></p></td>
                <td>- Find ATM nearest you</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Better Business Bureau", "http://www.ky-in.bbb.org", :rel => "external" %>
                </p></td>
                <td>- Serving Louisville, Southern Indiana &amp; Western Kentucky</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "NCUA Credit Union Index", "http://www.ncua.gov/IndexCUQuery.htm", :rel => "external" %>
                </p></td>
                <td>- Credit Union Query</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Debt Counselors of America", "http://www.dca.org/", :rel =>"external" %>
                <strong></strong></a></p></td>
                <td>- Information to help you get out of debt</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Wall Street Journal", "http://interactive.wsj.com/home.asp", :rel => "external" %>
                </p></td>
                <td>- Financial News</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Visa&trade; Card Services", "https://www.myaccountaccess.com", :rel => "external" %>
                </td>
                <td>- Visa&trade; Credit Card Serivces</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "IRS", "http://www.irs.gov/", :rel => "external" %>
                </p></td>
                <td>- The Digital Daily: Income Tax Forms, Instructions, Publications, Regulations Online</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "Turbotax", "http://affiliates.cutaxservices.com/?cuid=beacon2", :rel => "external" %></p></td>
                <td>- Do your 2008 Taxes online with Turbotax!</p></td>
              </tr>
              <tr>
                <td id="img"></td>
                <td><%= link_to "lovemycreditunion.org", "http://www.lovemycreditunion.org", :rel => "external" %>
                </p></td>
                <td>- More About  Credit Unions</td>
              </tr>
          </table>
		</div>