<div class="margin">
        <h3>What's New</h3>
        <h4>Repos for sale!</h4>
        </a>
        <span class="center">
        <table class="center">
            <tr>
                <td><%= link_to image_tag("2005_chevy_avalanche.jpg", :alt => "2005 Chevy Avalanche"), "https://www.beaconccu.org/images/cars/2005_chevy_avalanche_large.jpg", :class => "fleft" %>
                    </td>
                <td>2005  Chevrolet Avalanche V8<br />
                    Miles:  120,384<br />
                    Retail:  $18,625.00<br /><br />
                    Selling  Price: <strong>$15,950.00</strong></td></tr>
            <tr>
                <td><%= link_to image_tag("2002_honda_odyssey.jpg", :alt => "2005 Chevy Avalanche"), "https://www.beaconccu.org/images/cars/2002_honda_odyssey_large.jpg", :class => "fleft" %></td>
                <td>2002  Honda Odyssey V6<br />
                    Miles:  176,205<br />
                    Retail:  $7,550.00<br />
                    <br />
                    Selling  Price: <strong>$4,975.00</strong></td>
            </tr>
        </table>
        </span>
        <p>&nbsp;</p>
        <p><%= image_tag "newlocation_nowopen.gif", :alt => "" %></p>
        <hr class="red" />
        <br />
        <p class="centertext">MasterCard Secure Code<br />
        Now your online purchases can be more secure with Mastercard Secure Code. Click
        here to find out more.<br />
        <br />
        <%= link_to image_tag("MasterCard_SecureCode_soon.gif", :alt => "Now Open"), "http://www.mastercardbusiness.com/mcbiz/orphans/securecode/index.jsp?template=/securecode&amp;content=comingsoon", :rel => "external" %></p>
        <p>&nbsp;</p>
        <hr class="red" />
        <h4>My Financial Center &amp; Online Services</h4>
        <table>
        <tr>
        <td colspan="2"><%= link_to image_tag("cuna.jpg", :alt => "CUNA Financial Center"), "http://services.cunamutual.com/mahresourcecenter", :rel => "external"%>
        </td>
        <td>
            <%= link_to image_tag("http://members.cunamutual.com/art/buttons/linkset02btn0700.gif", :alt => "MFN Online Service"), "http://members.cunamutual.com/service?SITE=01603516&amp;imgid=buttons%2Flinkset02btn0700%2Egif", :rel =>"external" %>
        </td>
        </tr>
        <tr>
        <td><%= link_to image_tag("http://www.membersautohome.com/images/banners/Home120x60x3.jpg", :alt => "MAH Credit Union Banner"), "http://www.membersautohome.com/default.aspx?contract=01603516&amp;ICU=ICUCBCL&amp;utm_source=Credit%2BUnion%2BWebsite&amp;utm_medium=Banner&amp;utm_campaign=01603516&amp;utm_content=Home120x60x3", :rel=>"external" %></td>
        <td><%= link_to image_tag("insurance3.jpg", :alt => "Term Life Insurance"), "http://www.gotolifehelp.com/viewproducts.aspx?cu=1045", :rel => "external" %></td>
        <td><%= link_to image_tag("http://www.membersautohome.com/images/banners/120x60x2.jpg", :alt => "MAH Credit Union Banner"), "http://www.membersautohome.com/default.aspx?contract=01603516&amp;ICU=ICUCBBK&amp;utm_source=Credit%2BUnion%2BWebsite&amp;utm_medium=Banner&amp;utm_campaign=01603516&amp;utm_content=120x60x2", :rel => "external" %> </td>
        </tr>
        </table>
        <p>&nbsp;</p>
        <hr class="red" />
        <h4>PHISHING - The Latest Form of Identity Theft</h4>
        <p>
            PHISHING pronounced &quot;fishing&quot;- is the latest form of identity theft. 
            We want to  make you aware of some of the scams crooks are doing today to get your 
            personal information. They may email you or call you and ask you to confim personal 
            information.
        </p>
        <p>
            Some of the different approaches include &quot;We've identified fraudulent  activity on your account,&quot; 
            or &quot;Valuable account and personal  information was lost due to a computer glitch.&quot; To encourage you to 
            answer they may say the account will be closed or cancelled without  your assistance
        </p>
        <p>
            Do not give any information. If you feel this may be legitamate then  call your credit card company yourself 
            and ask them about your account.  Call the phone number listed on the back of your credit card. Do not  call a 
            number someone gives to you, that number may be another part of  the scam. By calling the number on the back of 
            your credit card you  know you are talking to the correct people.
        </p>
        <hr class="red" />
        <h4>It's New!! It's FREE!! - EZHome Bill Pay</h4>
        <p>
        	Are  you tired of writing checks and spending money on stamps? So are we!  Thats why we are pleased to announce 
            we now offer EZHome Bill Pay. Just  log into your home branch account and click on the EZHome Bill Pay link to sign 
            up. Remember, you must have a BCCU checking account to take  advantage of the new free service.</p>
        <hr class="red" />
    </div>