<p>
  <b>Name:</b>
  <%=h @memberapp.name %>
</p>

<p>
  <b>Ssn:</b>
  <%=h @memberapp.ssn %>
</p>

<p>
  <b>Salutation:</b>
  <%=h @memberapp.salutation %>
</p>

<p>
  <b>Joint name:</b>
  <%=h @memberapp.joint_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @memberapp.address %>
</p>

<p>
  <b>City:</b>
  <%=h @memberapp.city %>
</p>

<p>
  <b>State:</b>
  <%=h @memberapp.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @memberapp.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @memberapp.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%=h @memberapp.work_phone %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @memberapp.birth_date %>
</p>

<p>
  <b>Member eligibility:</b>
  <%=h @memberapp.member_eligibility %>
</p>

<p>
  <b>Badge no:</b>
  <%=h @memberapp.badge_no %>
</p>

<p>
  <b>Hire date:</b>
  <%=h @memberapp.hire_date %>
</p>

<p>
  <b>Email address:</b>
  <%=h @memberapp.email_address %>
</p>

<p>
  <b>Time2call:</b>
  <%=h @memberapp.time2call %>
</p>

<p>
  <b>Citizen:</b>
  <%=h @memberapp.citizen %>
</p>

<p>
  <b>Account:</b>
  <%=h @memberapp.account %>
</p>

<p>
  <b>Overdraft protection:</b>
  <%=h @memberapp.overdraft_protection %>
</p>

<p>
  <b>Typeof protection:</b>
  <%=h @memberapp.typeof_protection %>
</p>

<p>
  <b>Atm card:</b>
  <%=h @memberapp.atm_card %>
</p>

<p>
  <b>Mmdebit card:</b>
  <%=h @memberapp.mmdebit_card %>
</p>

<p>
  <b>Audio response:</b>
  <%=h @memberapp.audio_response %>
</p>


<%= link_to 'Edit', edit_memberapp_path(@memberapp) %> |
<%= link_to 'Back', memberapps_path %>