	 <div class="prefooter">
                    <p class="smallprint">
                    <%= image_tag "http://www.securitymetrics.com/images/sm_ccsafe_wh.gif", :alt => "SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment" %>
                        <%= image_tag "NCUA_big.gif", :alt => "NCUA" %>&nbsp;&nbsp;&nbsp; 
                        <%= image_tag "ehl.jpg", :alt => "Equal Housing Lender" %>&nbsp;<br />
                        We do business in accordance with the Federal Fair Housing Law<br />
                        and the Equal Credit Opportunity Act.
                    </p>
                </div>


           </div>
                </div>
                <div id="footer">
                    <p>
                        <%= link_to "Our Privacy Disclosure", disclosure_path, :class => "footer" %> - 
                        <%= link_to "Security Notification", security_notification_path, :class => "footer" %> - 
                        <%= link_to "Contact Us", contact_path,  :class => "footer" %>                    </p>
                    <span class="credits">
                        Site Design by:
                        <%= link_to "Share One, Inc", "http://www.shareone.com/", :class =>"footer", :rel => "external" %>. &copy; 2004-2010
                    </span>
                </div>
            </div> 
        </div>